@using BLL.Models.Users;
@using DAL.Models
@using BLL.Models
@model IEnumerable<User>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject UserManager<User> userManager


<h2>Users in DB:</h2>
@foreach(User user in Model)
{
    <b>@user.FirstName - @userManager.GetRolesAsync(user).Result.FirstOrDefault()</b>
    <br />
}

