@model BLL.Models.Comments.AllCommentsViewModel

@{
    ViewData["Title"] = "Список комментариев";
}
<h3 class="text-center">Все комментарии</h3>
<partial name="_partialAllComments" model="@Model" />
