@model BLL.Models.Roles.CreateRoleViewModel

@{
    ViewData["Title"] = "Добавить роль";
}

<div class="block-reg background-white">
    <h3 class="center">Добавление роли</h3>
    <form class="frm" method="post" asp-controller="Role" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mrgn">
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="center">
            <input class="okbtn btn btn-success" type="submit" value="Добавить" />
        </div>
        <div class="center">
            <a asp-controller="Role" asp-action="GetRoles">Список всех ролей</a>
        </div>
    </form>
</div>