@using System.Security.Claims
@using BLL.Models.Users
@using DAL.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model UserLoginViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h4>Добро пожаловать на наш блог!</h4>
