@model BLL.Models.Tags.CreateTagViewModel

@{
    ViewData["Title"] = "Создание тега";
}

<div class="block-reg background-white">
    <h3 class="center">Добавление тега</h3>
    <form class="frm" method="post" asp-controller="Tag" asp-action="CreateTag">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="center">
            <input class="okbtn btn btn-success" type="submit" value="Добавить" />
        </div>
        <div class="center">
            <a asp-controller="Tag" asp-action="AllTags">Список всех тегов</a>
        </div>
    </form>
</div>