html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.checkbox-input:checked + .checkbox-text {
    text-decoration: underline;
}

.ava {
    width: 6rem;
    height: 6rem;
    max-height: 6rem;
    max-width: 6rem;
    object-fit: fill;
}
.okbtn{
    margin:1%;
}
