<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      >
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="userLogFile" fileName="${basedir}/logs_from_api/userslogs/${aspnet-user-identity}/${shortdate}.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<!-- Target для логирования SQL-команд -->
	<targets>
		<target xsi:type="File" name="sqlLogFile" fileName="${basedir}/logs_from_api/sqlCommands.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<!-- Target для логирования событий, обработанных с помощью UseExceptionHandler -->
	<targets>
		<target xsi:type="File" name="errorLogFile" fileName="${basedir}/logs_from_api/errors.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | user: ${aspnet-user-identity} | ${message}" />
	</targets>

	<targets>
		<target xsi:type="File" name="warningsLogFile" fileName="${basedir}/logs_from_api/warnings.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | user: ${aspnet-user-identity} | ${message}" />
	</targets>

	<rules>
		<!-- Логирование действий пользователей -->
		<logger name="UserActions.*" minlevel="Info" writeTo="userLogFile" />

		<!-- Логирование SQL-команд -->
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="sqlLogFile" final="true" />

		<!-- Логирование событий обработанных с помощью UseExceptionHandler -->
		<logger name="*" minlevel ="Error" writeTo="errorLogFile, userLogFile" final="true" />
		<logger name="*" minlevel ="Warning" writeTo="warningsLogFile, userLogFile" final="true" />

		<!-- Остальные правила логирования -->
		<logger name="*" minlevel="Info" writeTo="userLogFile" />
	</rules>
</nlog>